<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<h1 style="color: red; font-weight: bold">Chúc Mừng Bạn Đã Mượn
		Sách Thành Công</h1>
	<p style="font-weight: bold"
		th:text="'Mã Nhận Sách Là:' + ${borrowingId}"></p>
	<p style="font-weight: bold"
		th:text="'Thời Gian Nhận Sách Là:' + ${borrowingDate}"></p>
	<p style="font-weight: bold"
		th:text="'Địa Điểm:Thư Viện Trường Đại Học Sư Phạm Kỹ Thuật Tp HCM'"></p>
	<p>* Vui lòng đến đúng thời gian và địa điểm để nhận sách</p>
	<p>Thanks!</p>
</body>
</html>